@model ScheduleEditViewModel

@{
  ViewData["Title"] = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h2>Edit</h2>

<h4>Schedule</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Save">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="StartAt" class="control-label"></label>
        <input asp-for="StartAt" class="form-control" />
        <span asp-validation-for="StartAt" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="EndAt" class="control-label"></label>
        <input asp-for="EndAt" class="form-control" />
        <span asp-validation-for="EndAt" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ResponsibleId" class="control-label">Responsible</label>
        <select asp-for="ResponsibleId" class="form-control" asp-items="@(new SelectList(Model.People, "Id", "Name"))">
          <option />
        </select>
        <span asp-validation-for="ResponsibleId" class="text-danger"></span>
      </div>

      <input asp-for="Id" type="hidden" />

      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

